urllib3==1.26.16
scikit-learn
pandas
numpy
tensorflow
tensorflow-macos
tensorflow-metal
keras
keras-nlp
matplotlib
jupyter
torch
torchvision
torchaudio
transformers
accelerate
evaluate
datasets
peft
pillow
requests
